body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #1a4d2e, #e8dfca);
  background-attachment: fixed;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
